/**
 * DialogBase Stylesheet.
 */
DIV.DialogBase {
  position: absolute;
  display: none;
  }
DIV.DialogBase .dlgTitleTdLeft {
  background: url(images/dialogTL.gif) no-repeat left top;
  width: 10px;
  }
DIV.DialogBase .dlgTitleTdRight {
  background: url(images/dialogTR.gif) no-repeat right top;
  width: 16px;
  padding: 08px 4px 3px 0px;
  vertical-align: bottom;
  }
DIV.DialogBase .dlgTitleTdTitle {
  background: url(images/dialogTM.gif) top;
  background-color: #a9a9a9;
  font-size: 10pt;
  font-weight: bold;
  white-space: nowrap;
  color: #000000;
  padding: 4px 0px 2px 0px;
  cursor:move;
  }

.dialogBaseVeil {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  cursor: "not-allowed";
  background-color: #6a74cb;
  filter:alpha(opacity=35);
  -moz-opacity:0.35;
  opacity: 0.35;
  }

/**
 * to make it fancy...
 */
DIV.DialogBase {
  border-top   : 1px solid #EDEDED;
  border-right : 1px solid #ABABAB;
  border-bottom: 1px solid #ABABAB;
  border-left  : 1px solid #EDEDED;
  }
DIV.DialogBase .dialogMainPanel {
  background-color: #ffffff;
  border-top   : 1px solid #898989;
  border-right : 1px solid #4E4E4E;
  border-bottom: 1px solid #4E4E4E;
  border-left  : 1px solid #898989;
  }
DIV.jtDialogBox .dialogMainPanel .dialogContentArea {
  margin: 16px;
  font-size: 9pt;
  }

#preloaderDialogMain {
    width: 100%; 
    border: 1px solid #000; 
    text-align: center;
}

#preloaderDialogMessage {
	margin 0;
    padding: 15px;
    margin: 3px auto 3px; 
}

#preloaderDialogImage {
    margin: 0px auto 10px; 
    text-align: center;
}

#SimpleAlertMain {
    width: 100%; 
    border: 1px solid #000; 
    text-align: center;
}

#SimpleAlertMessage {
    margin 0;
    padding: 15px;
    margin: 3px auto 3px; 
}

#SimpleAlertButtons {
    margin: 0px auto 10px; 
    text-align: center;
}

